@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #2e2e2e;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  background-color: #3e3e3e;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  background-color: #4a4a4a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5a5a5a;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #3e3e3e;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #4a4a4a;
}

li button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

li button:hover {
  background-color: darkred;
}

.editBtn {
  background-color: blue;
}

.editBtn:hover {
  background-color: darkblue;
}

.cancelBtn {
  background-color: gray;
}

.cancelBtn:hover {
  background-color: darkgray;
}
